$primery-text-color: #212121;
$secondary-text-color: #ffffff;
$title-text-color: #757575;
$accent-color: #2196f3;
$primery-background-color: #f5f4fa;
$secondary-background-color: #2f303a;
$footer-text-color: rgba(255, 255, 255, 0.6);
$primary-button-color: #188ce8;
$social-link-background-color: rgba(255, 255, 255, 0.1);
$card-socials-color: #afb1b8;
$description-color: rgba(33, 150, 243, 0.9);
$form-input-color: rgba(33, 33, 33, 0.2);
$placeholder-color: rgba(117, 117, 117, 0.5);

$fontLogo: Raleway, sans-serif;
$fontText: Roboto, sans-serif;
$functionCubic: cubic-bezier(0.4, 0, 0.2, 1);