.benefits {
    padding: 94px 0;
}
.list {
    display: flex;
    gap: 30px;
}

.list .subtitle {
    color: $primery-text-color;
    font-size: 14px;
    line-height: 1.17;
    margin: 0;
    padding: 0;
    margin-bottom: 10px;
    font-weight: 700;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    font-style: normal;

    &:first-child {
    margin-left: 0;
}
}

.list .text {
    color: $title-text-color;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    font-style: normal;
}

.benefits__icon {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 270px;
    height: 120px;
    margin-bottom: 30px;
    background: $primery-background-color;
    border-radius: 4px;
}

.icon-antena,
.icon-clock,
.icon-diagram,
.icon-astronaut {
    width: 70px;
    height: 70px;
}