.footer {
    background-color: $secondary-background-color;
    padding: 60px 0;
}

.footer__box {
    display: flex;
    align-items: baseline;
}

.footer__content {
    display: block;
    align-items: baseline;
}

.footer__logo {
    color: $accent-color;
    font-family: $fontLogo;
    text-decoration: none;
    font-size: 26px;
    line-height: 1.19;
    margin-top: 0px;
    margin-bottom: 20px;
    display: block;
    font-weight: 700;
}

.footer__logo-white {
    color: $secondary-text-color;
    text-decoration: none;
}

.footer__contacts {
    color: $secondary-text-color;
    font-style: normal;
    line-height: 1.71;
    font-size: 14px;
    letter-spacing: 0.03em;
    display: flex;
    flex-direction: column;
    gap: 9px;
    transition: opacity 250ms $functionCubic;
    
    &:hover,
    &:focus {
    color: $accent-color;
}
}

.footer__adress {
    color: $secondary-text-color;
    text-decoration: none;
}

.footer__contact {
    color: $footer-text-color;
    text-decoration: none;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    transition: opacity 250ms $functionCubic;

    &:hover,
    &:focus {
    color: $accent-color;
}
}

.footer__social-list {
    display: flex;
    align-items: center;
    gap: 10px;
}

.footer__title {
    color: $secondary-text-color;
    font-weight: 700;
    font-size: 14px;
    line-height: 1.143;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    margin-bottom: 20px;
}

.footer__social-link {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 44px;
    height: 44px;
    fill: $secondary-text-color;
    background-color: $social-link-background-color;
    border-radius: 50%;
    transition: background-color 250ms $functionCubic,
        fill 250ms $functionCubic;

    &:hover,
    &:focus {
    fill: $secondary-text-color;
    background-color: $accent-color;
}
}

.footer__social {
    margin-left: 70px;
}

.footer__form {
    margin-left: 93px;
    width: 570px;
    margin-bottom: 20px;
}

.footer__form-title {
    fill: $secondary-text-color;
    transition: background-color 250ms $functionCubic,
        fill 250ms $functionCubic;
    color: $secondary-text-color;
    font-weight: 700;
    font-size: 14px;
    line-height: 1.143;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    margin-bottom: 20px;
}

.footer__form-textarea {
    width: 358px;
    height: 50px;
    border-radius: 4px;
    outline: none;
    resize: none;
    border: 1px solid rgba(255, 255, 255, 0.3);
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
    font-family: $fontText;
    font-size: 16px;
    line-height: 1.25;
    align-items: center;
    letter-spacing: 0.03em;
    color: $footer-text-color;
    padding-left: 16px;
    background-color: $secondary-background-color;
}

.footer__form-field {
    display: flex;
}

.footer__button {
    color: $secondary-text-color;
    background-color: $accent-color;
    cursor: pointer;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    font-size: 16px;
    line-height: 1.87;
    font-weight: 700;
    border-radius: 4px;
    border: none;
    padding: 10px 28px;
    display: flex;
    align-items: center;
    text-align: center;
    letter-spacing: 0.06em;
    font-style: normal;
    margin-left: auto;
    margin-right: auto;
    transition: background-color 250ms $functionCubic,
        color 250ms $functionCubic,
        fill 250 ms $functionCubic;

    &:hover,
    &:focus {
    background-color: $primary-button-color;
}
}