.modal {
    position: absolute;
    display: block;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(1);
    width: 528px;
    height: 581px;
    background-color: $secondary-text-color;
    transition: transform 250ms $functionCubic;
}

.modal__close-button {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 30px;
    height: 30px;
    margin-top: 8px;
    margin-bottom: 543px;
    margin-right: 8px;
    margin-left: 490px;
    background-color: $secondary-text-color;
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 50%;
    cursor: pointer;
    
    &:hover,
    &:focus {
    fill: $accent-color;
}
}

.modal__form-title {
    margin-top: 40px;
    margin-bottom: 12px;
    font-size: 20px;
    line-height: 1.17;
    text-align: center;
    font-family: $fontText;
}

.modal__contact-form {
    display: block;
    margin-bottom: 4px;
    margin-top: 10px;
    margin-left: 40px;
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.01em;
    color: $title-text-color;
}

.modal__form-label {
    display: block;
    margin-top: 10px;
    margin-bottom: 4px;
    font-size: 12px;
    line-height: 1.17;
    margin-left: 40px;
    color: $title-text-color;
}

.modal__form-control {
    position: relative;
    margin-right: 40px;
    margin-left: 40px;
}

.modal__form-input {
    width: 100%;
    padding: 11px 11px 12px 26px;
    border: 1px solid $form-input-color;
    border-radius: 4px;
    outline: none;
    width: 448px;
    height: 40px;

    &:focus {
    border-color: $accent-color;
}
}

.modal__form-icon {
    position: absolute;
    top: 50%;
    left: 12px;
    transform: translateY(-50%);
    fill: currentColor;
}

.modal__form-control:focus-within .modal__form-icon {
    fill: $accent-color;
}

.modal__button {
    color: $secondary-text-color;
    background-color: $accent-color;
    cursor: pointer;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    font-size: 16px;
    line-height: 1.87;
    font-weight: 700;
    border-radius: 4px;
    border: none;
    padding: 10px 52px;
    display: flex;
    align-items: center;
    text-align: center;
    letter-spacing: 0.06em;
    font-style: normal;
    margin-left: auto;
    margin-right: auto;
    transition: background-color 250ms $functionCubic,
        color 250ms $functionCubic,
        fill 250ms $functionCubic;

    &:hover,
    &:focus {
    background-color: $primary-button-color;
}
}

.modal__icon {
    fill: $primery-background-color;
    margin-left: 10px;
}

.modal__form-textarea {
    width: 448px;
    height: 120px;
    padding: 12px 16px;
    margin-bottom: 20px;
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.01em;
    color: $placeholder-color;
    border: 1px solid $form-input-color;
    border-radius: 4px;
    outline: none;
    resize: none;
    margin-left: 40px;

    &:focus {
    border-color: $accent-color;
}
}

.backdrop.is-hidden .modal {
    transform: translate(-50%, -50%) scale(1.3);
}