.team {
    background-color: $primery-background-color;
}

.team__cards {
    display: flex;
    gap: 30px;
}

.team__card-color {
    background-color: $secondary-text-color;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
        0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 0px 0px 4px 4px;
}

.team__card-box {
    padding: 30px;
    text-align: center;
}

.team__card-name {
    color: $primery-text-color;
    font-size: 16px;
    line-height: 1.17;
    font-weight: 500;
    margin-bottom: 10px;
}

.team__card-text {
    color: $title-text-color;
    font-size: 16px;
    line-height: 1.17;
}

.team__socials-list {
    display: flex;
    align-items: center;
    gap: 10px;
    margin-top: 16px;
}

.team__socials-link {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 44px;
    height: 44px;
    fill: $card-socials-color;
    background-color: $secondary-text-color;
    border-radius: 50%;
    transition: background-color 250ms $functionCubic,
        fill 250ms $functionCubic;

    &:hover,
    &:focus {
    fill: $primery-background-color;
    background-color: $accent-color;
}
}